pandas>=1.3.4
pystac>=1.1.0
shapely>=1.8.0
satextractor @ git+ssh://git@github.com/FrontierDevelopmentLab/sat-extractor.git
prefect[viz,gcp,github]>=0.15.9
typer>=0.4.0
dask==2021.11.1
dask-cloudprovider[gcp]==2021.9.0
distributed==2021.11.1
gcsfs>=2021.11.0
cryptography==35.0.0
